* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    font-size: 12pt;
    font-family: 'Lora', serif;
    background: #FAFAFA;
    color: #302E31;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.container {
    zoom: 1;
}

.buttons span {
    font-size: 23pt;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.play {
    right: 10px;
}

.menu {
    left: 10px;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 32pt;
}

h2,
.options h3 {
    font-size: 22pt;
    margin: 0 0 20px;
}

.cities,
.options {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
    font-size: 14pt;
    color: #fafafa;
    background: #3c3d4f;
    z-index: 9;
}

.options {
    right: 100%;
    padding: 25px 0 0;
    text-align: center;
    font-size: 0;
}

label {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    font-size: 18pt;
}

input {
    display: none;
}

input + span:before {
    content: '\0f0c8';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

input:checked + span:before {
    content: '\0f14a';
}

.ok .fa {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 48pt;
}

.cities {
    left: 100%;
}

.cities ul {
    list-style: none;
}

.cities li {
    cursor: pointer;
    padding: 20px 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.2s ease;
}

.cities li:not(:last-child) {
    border-bottom: 1px solid #000;
}

.cities li:hover {
    color: #000;
    background: #fff;
}

.data {
    text-align: center;
    font-size: 23pt;
    padding-top: 40px;
}

.conditions {
    font-size: 14pt;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}

.conditions em {
    text-transform: none;
    display: block;
    font-weight: normal;
}

.press,
.temp {
    display: none;
    margin-top: 20px;
    font-size: 44pt;
    text-transform: uppercase;
}

.fa {
    cursor: pointer;
}

.github {
    display: none;
}

@media screen and (min-width: 767px) {
    .container {
        border-left: 1px dotted #cecece;
        border-right: 1px dotted #cecece;
    }
    .github {
        display: block;
        position: absolute;
        bottom: 20px;
        font-size: 10pt;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
    }
}

